/* turn color variables into modular, human-readable variables */
@import './colors';

$color-background-inverse: $tuatara;
$color-text-default: $tuatara-text;
$color-text-weak: $friar-gray;

$tooltip-background-color: rgba(0,0,0,0.65);
$tooltip-border-radius: 2px;

$font-family-primary: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;